<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Волонтёр Амонатбонка"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/commonStyle"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Login"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SMScode"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:exported="true">
        </activity>
        <activity
            android:name=".PassportType"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle"
            android:noHistory="true"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle"
            android:exported="true">
        </activity>

        <activity
            android:name=".Mobile"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".IB"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".POS"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".QR"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".SMS"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".Other"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".PlasticPhotoPassportPreview"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <activity
            android:name=".PaperPhotoPassportPreview"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name=".Info"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle"
            android:exported="true">
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>